
@using System.Globalization
@using System.Net.Http;
@using System.Web;

@{
	ViewData["Title"] = "Thingiverse";
	var culture = CultureInfo.GetCultureInfo("en-US");
	var tabName = ViewBag.tabName;
}

@model BusinessLayer.Dtos.ThingDetailDto

<link href="~/css/details.css" rel="stylesheet" />

<div class="container mt-3 col-12 col-md-10 col-lg-9">

	<div class="card photo-card">

		<div class="card-body">

			<div class="d-flex align-items-center">

				<img src="@Model.Creator.Thumbnail" alt="Profile Image" class="rounded-circle me-4 user-profile-photo">

				<div>

					<h5 class="card-title mb-2">@Model.Name</h5>

					<p class="card-text text-muted mb-2 user-name">@Model.Creator.Name &nbsp;&nbsp;&nbsp;&nbsp; @(Model.Added?.ToString("MMMM dd, yyyy", culture) ?? "Not Available")</p>

				</div>

			</div>

		</div>

		<div id="carouselThingImages" class="carousel slide" data-bs-ride="carousel">

			<div class="carousel-inner">

				<div class="carousel-item active">

					<img src="@Model.Thumbnail" class="d-block w-100" alt="...">

				</div>

				@foreach (var img in Model.ZipData.Images)

				{

					<div class="carousel-item">

						<img src="@img.Url" class="d-block w-100" alt="...">

					</div>

				}

			</div>

			<button class="carousel-control-prev" type="button" data-bs-target="#carouselThingImages" data-bs-slide="prev">

				<span class="carousel-control-prev-icon" aria-hidden="true"></span>

				<span class="visually-hidden">Previous</span>

			</button>

			<button class="carousel-control-next" type="button" data-bs-target="#carouselThingImages" data-bs-slide="next">

				<span class="carousel-control-next-icon" aria-hidden="true"></span>

				<span class="visually-hidden">Next</span>

			</button>

		</div>

		<div class="container mt-3 col-12 col-md-10 col-lg-9">

			<div class="d-flex justify-content-center">

				<a class="btn card-options" href="#" role="button">
					Post a make

					<img src="~/svgs/image.svg" class="card-options-icon" />

				</a>

				<a class="btn card-options" href="#" role="button">
					Watch

					<img src="~/svgs/watch.svg" class="card-options-icon" />

				</a>

				<a class="btn card-options" href="#" role="button">
					Report thing

					<img src="~/svgs/flag.svg" class="card-options-icon" />

				</a>

				<a class="btn card-options" href="#" role="button">
					Tip designer

					<img src="~/svgs/smile.svg" class="card-options-icon" />

				</a>

			</div>

		</div>

	</div>

</div>


<button class="fixed-btn" id="commentBtn">
	<span class="badge">
		@{
			var commentCount = Model.CommentCount;
			if (commentCount >= 1000)
			{
				var displayCount = Math.Ceiling(commentCount / 1000.0);
				@($"{displayCount}K")
			}
			else
			{
				@commentCount
			}
		}
	</span>
</button>

<button class="fixed-btn" id="likeBtn">
	<span class="badge">
		@{
			var likeCount = Model.LikeCount;
			if (likeCount >= 1000)
			{
				var displayCount = Math.Floor(likeCount / 1000.0);
				@($"{displayCount}K")
			}
			else
			{
				@likeCount
			}
		}
	</span>
</button>

<button class="fixed-btn" id="collectionBtn">

	<span class="badge">
		@{
			var collectionCount = Model.CollectCount;
			if (collectionCount >= 1000)
			{
				var displayCount = Math.Floor(collectionCount / 1000.0);
				@($"{displayCount}K")
			}
			else
			{
				@collectionCount
			}
		}
	</span>

</button>

<button class="fixed-btn" id="shareBtn"></button>


<div class="container mt-3 col-12 col-md-10 col-lg-9">

	<div class="card text-left">
		<div class="card-header">
			<ul class="nav nav-tabs d-flex justify-space-between">
				<li class="nav-item">
					<a class="nav-link active" data-value="thing_details" href="#thingdetails">Thing Details</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-value="files" href="#files">Files</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-value="comments" href="#comments">Comments</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-value="makes" href="#makes">Makes</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-value="remixes" href="#remixes">Remixes</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-value="apps" href="#apps">Apps</a>
				</li>
			</ul>
		</div>

		<div class="card-body" id="tabContent">
			@{
				if (@tabName == "thing_details")
				{
					<div class="left-column"></div>

					<div class="right-column">
						@Html.Raw(Model.Details)
					</div>
				}
				else if (tabName == "files")
				{
					@Html.Partial("~/Views/DetailTabs/_Files.cshtml", Model)
				}
				else
				{
					<p> selam </p>
				}
			}
		</div>

	</div>

</div>


@section Scripts {
	<script>
		$(document).ready(function () {

			var activeTabText = $('.nav-link.active').data('value');

			$(".nav-link").on("click", function (e) {
				e.preventDefault(); // Linkin varsayılan davranışını engelle (örn. sayfanın yenilenmesi)
				$(".nav-link").removeClass("active");
				$(this).addClass("active");
				activeTabText = $(".nav-link.active").data('value');
				console.log(activeTabText);

				$.ajax({
					url: '@Url.Action("Index", "Thing")',
					type: 'GET',
					data: { id: @Model.Id, tabName: activeTabText },
					dataType: 'json',
					success: function (result) {
						console.log("veri alindi");
						$('#tabContent').html($(result).find('#tabContent').html());
					}
					error: function (xhr, status, error) {
						console.error("Hata oluştu:", error);
						console.log("XHR:", xhr.responseText);
					},
					complete: function () {
						console.log("Ajax çağrısı tamamlandı");
					}
				});
			});
		});
	</script>
}